<div class="about-container" [@fadeIn]>
    <h1>About</h1>
    <p>Wondering about me, and why I chose the developer path?</p>
        <p>I always had an affinity to programming, mathematics and physics.
        Although first I studied physics and economics, I felt like I am missing
        a key part of knowledge, that is increasingly more important in todays world; </p>
        <p>Programming. </p>
        <p>While I had basic knowledge of computers, I dove deeper with first finishing CS50
        from Harvard, and then enrolling in Green Fox Academy, where I first learnt the basics
        of Java, then about Spring, later on TypeScript with the Angular framework, and ORM with 
        MySQL. </p>
        <p>Now I feel ready to begin my career as a full-stack developer.</p>
</div>
