h1, h2, h3, p {
    color: white;
}

.home-container {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif; 
}