<div class="projects-container" [@fadeIn]>
    <div class="projects">
        <div class="project">
            <img class="thumbnail" src="./././assets/images/2048ex.png" alt="">
            <h4>A 2048 game.</h4>
            <p>Technologies used:</p>
            <ul>
                <li>Angular</li>
                <li>Bootstrap</li>
            </ul>
            <a href="">Learn more</a>
        </div>
        <div class="project">
            <img class="thumbnail" src="./././assets/images/2048ex.png" alt="">
            <h4>A booking app clone.</h4>
            <p>Technologies used:</p>
            <ul>
                <li>Angular</li>
                <li>Spring</li>
            </ul>
            <a href="">Learn more</a>
        </div>
        <div class="project">
            <img class="thumbnail" src="./././assets/images/2048ex.png" alt="">
            <h4>A weather application.</h4>
            <p>Technologies used:</p>
            <ul>
                <li>Angular</li>
                <li>ASP.Net Core</li>
                <li>Python</li>
            </ul>
            <a href="">Learn more</a>
        </div>
        <div class="project">
            <img class="thumbnail" src="./././assets/images/2048ex.png" alt="">
            <h4>A health tracker.</h4>
            <p>Technologies used:</p>
            <ul>
                <li>Angular</li>
                <li>Spring</li>
                <li>Python</li>
            </ul>
            <a href="">Learn more</a>
        </div>
    </div>
</div>
