@font-face {
    font-family: 'Digital-7';
    src: url('../../../assets/fonts/digital-7.ttf') format('truetype');
}

.image-container, img {
    width: 100%;
    height: 100%;

}

.clock {
    font-family: 'Digital-7', digital-7;
    font-style: italic;
    position: fixed;
    bottom: 10px;
    left: 88%;
    font-size: 48px;
    color: #00ff00;
    padding: 10px 10px;
    border-radius: 5px;
}