<div class="skills-container" [@fadeIn]>
    <div class="columns">
        <div class="column">
            <h2>Programming languages</h2>
            <ul>
                <li>Java</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>C#</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="column">
            <h2>Frameworks</h2>
            <ul>
                <li>Angular</li>
                <li>React</li>
                <li>Spring</li>
                <li>ASP.Net Core</li>
            </ul>
        </div>
        <div class="column">
            <h2>Etc</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Bootstrap</li>
                <li>Git/GitHub</li>
                <li>Yarn</li>
                <li>MySQL</li>
                <li>RxJs</li>
            </ul>
        </div>
    </div>
    <div>
        <p><em>Please visit my <a routerLink="/projects">Projects</a> page to see references.</em></p>
    </div>
</div>